<h1> Detalle de empresa</h1>
<ul>
	<li> Nombre: {{nombre}} </li>
	<li> Direccion {{direeccion}} </li>
	<li> Gerente: {{gerente}} </li>
	<li> Telefono: {{telefono}} </li>
	<li> Nit: {{nit}} </li>
</ul>	
